.cartUnProd{
    width: 50px;
}

.card__detail__container{
    display: flex !important;
    justify-content: center !important;
}

.card__text{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.descripcion__text{
    padding-top: 10px;
}