.card_button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.detail__button{
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
}

.card__counter{
    width: 70px;
    height: 19px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}